* {box-sizing: border-box;}

/* header */

.header {
    font-family: 'Odibee Sans', cursive;
    background-color: #e5383b;
    padding: 20px;
}

.top-nav {
    text-align: right;
}

.top-nav-item {
    text-decoration: none;
    color: #f5f3f4;
    padding-left:1%;
}

.restaurant-name {
    color: #f5f3f4;
    text-transform: uppercase;
}

.bottom-nav {
    padding-top: 2%;
    text-transform: uppercase;
    text-align: right;
}

.bottom-nav-item {
    font-weight: bolder;
    text-decoration: none;
    color: #f5f3f4;
    padding-right: 4%;
}

/* main */

.top-section1-box {
    padding: 20px;
    background-color: #b1a7a6;
}

.searchbar {
    border: 3px solid #e5383b;
    background-color: #d3d3d3;
    border-right: none;
}

.search-bar {
    text-align: right;
}

.search-button {
    border: 3px solid #e5383b;
    background-color: #d3d3d3;
    border-left: none;
}

.search-button:hover {
    background-color: #A4161a;
    color: #f5f3f4;
}

.carousel-box {
    background-color: #d3d3d3;
}

.carousel-img {
    margin: 0 auto;
    width: 100%;
}

.section2 {
    font-family: 'Odibee Sans', cursive;
    padding-top: 30px;
    padding-bottom:30px;
    margin: 0 auto;
    background-color:#d3d3d3;
}

.rowclass {
    /* margin-top: 30px; */
    margin-bottom: 30px;
}

.classname {
    border: none;
    border-radius: 0%;
    margin-left: 10%;
    width: 80%;
}

.food-img {
    height: 200px;
    width: 100%;
 }

.section2-text {
    text-transform: uppercase;
    color: #e5383b;
}

.section3 {
    font-family: 'Odibee Sans', cursive;
    color: #e5383b;
    background-color: #f5f3f4;
    padding: 30px;
}

.comment-header {
    padding: 20px;
}

/* footer */

.top-footer {
    font-family: 'Odibee Sans', cursive;
    padding: 30px;
    background-color: #e5383b;
}

.footer-header, .footer-text {
    color: #f5f3f4;
}

.footer-link {
    color: black;
}

.bottom-footer {
    padding: 30px;
    background-color: #A4161a;
}

.bottom-footer-text {
    font-family: 'Odibee Sans', cursive;
    color: #f5f3f4;
    text-align: right;
}